@*Thông báo*@

<div class="container mt-3">
    <h4>Order Result</h4>
    <div class="alert alert-info">
        Your Order sended to us shop ! Thanks you for shopping
        <a href="/Customer/Home/index">Go to shopping</a>
    </div>
</div>
